<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Elektronet</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Elektronet.styles.css" asp-append-version="true"/>
</head>
<body>

<header>
    <a asp-page="/Index" class="logo">Company Name</a>
    <nav>
        <a asp-page="/Index">Link 1</a>
        <a asp-page="/Index">Link 2</a>
    </nav>
    <div class="username">
        <partial name="_LoginPartial"/>
    </div>
</header>
<main>
    @RenderBody()
</main>
<footer>
    <p>&copy; 2025 Company Name. All rights reserved.</p>
</footer>
</body>
</html>
