:root {
    --red: #d4293d;
    --blue: #5992ca;
    --green: #22bb6e;
    --gray: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--blue);
    color: white;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100dvh;
}

aside {
    width: 250px;
    background-color: white;
    border-right: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    
    .logo {
        padding: 1.5rem 0.5rem;
        text-decoration: none;
        color: white;
        font-size: 1.25rem;
        font-weight: bold;
        background-color: var(--red);
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }

    nav {
        flex: 1;
        padding: 1rem 0;
        overflow-y: auto;

        div {
            margin-bottom: 1rem;

            h2 {
                padding: 0.5rem 1.5rem;
                color: #333333;
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            ul {
                list-style: none;

                a {
                    display: block;
                    padding: 0.5rem 2rem;
                    color: #4a4a4a;
                    text-decoration: none;
                    transition: all 0.2s;

                    &:hover {
                        background-color: var(--gray);
                        color: var(--blue);
                    }
                }
            }
        }
    }

    footer {
        padding: 1rem 1.5rem;
        background-color: var(--red);
        color: white;
        font-size: 0.9rem;
    }
}

main {
    margin: 0 auto;
    padding: 2rem;
    flex: 1;
    max-width: 64rem;
    overflow-y: auto;

    h1 {
        margin-bottom: 2rem;
    }
}

.chip {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    color: white;
    border-radius: 1rem;
    font-size: 0.8rem;

    &.red {
        background-color: var(--red);
    }

    &.blue {
        background-color: var(--blue);
    }

    &.green {
        background-color: var(--green);
    }

    &.gray {
        background-color: var(--gray);
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 1rem;

    th {
        background-color: var(--gray);
        padding: 0.75rem 1rem;
        text-align: left;
    }

    td {
        padding: 0.75rem 1rem;
        border-bottom: 1px solid var(--gray);
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;

    label {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    input,
    textarea {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        border: none;
        background-color: var(--gray);

        &:focus {
            outline: 2px solid var(--blue);
        }
    }

    button,
    input[type="submit"] {
        padding: 0.5rem 1rem;
        background-color: var(--blue);
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        align-self: flex-start;
        transition: background-color 0.2s;

        &:hover {
            background-color: color-mix(in srgb, var(--blue) 80%, black);
        }
    }

    select {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        background-color: var(--gray);
        cursor: pointer;
        border: none;

        &:focus {
            outline: 2px solid var(--blue);
        }
    }

    .password {
        display: flex;
        gap: 1rem;

        input {
            flex: 1;
        }
    }
}

a {
    color: inherit;
}

p {
    margin-bottom: 2rem;

    &.error {
        color: var(--red);
    }

    &.success {
        color: var(--green);
    }
}